# production
/build
dist/

# dependencies
node_modules/
.pnp
.pnp.js

# misc
.claude/worktrees
.playwright-mcp
.DS_Store
*.pem
*.log
*.local.json

# envs
.env*.local
.env

# typescript
*.tsbuildinfo
.vite/

